version: "2"
services:
  cscop:
    build: https://github.com/DRIVER-EU/csCOP.git#test-bed:website
    hostname: cscop
    depends_on:
      - schema_registry
      - zookeeper
      - broker
    ports:
      - "8003:8003"
    volumes:
      - ./config/config.json:/src/config/dynamic-config.json
    environment:
      CSCOP_PORT: '8003'